{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="mb-4">Active Listings</h2>
    {% for listing in listings %}
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if listing.image %}
                        <a href="">
                            <img src="{{ listing.image.url }}" class="card-img-top" alt="...">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="/media/listing_images/no-image.png"
                                 class="card-img-top"
                                 alt="...">
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <p>
                            <strong>Price: {{ listing.price }}$</strong>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">Created {{ listing.created_at }} by {{ listing.owner }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="p-3 mb-2 bg-body-secondary">
        <h2 class="mb-4">Categories</h2>
        <div class="d-flex justify-content-around">
            {% for category in categories %}
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title m-5">{{ category.name }}</h5>
                        <p class="card-text text-body-secondary m-5">{{ category.listings.count }} listings</p>
                        <a href="#" class="btn btn-primary mt-5">View Listings</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
